.profile {
    display: grid;
    grid-template-rows: 120px 1fr 1fr;
    justify-items: center;
    margin-bottom: 36px;
    gap: 25px;
}

@media screen and (min-width: 615px) {
    .profile {
        grid-template-columns: 120px 1fr 150px;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: start;
        max-width: 582px;
        margin: 0 auto 50px auto;
        column-gap: 30px;

    }
}

@media screen and (min-width: 920px) {
    .profile {
        max-width: 880px;
    }
}