.header__link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    margin: 6px 27px 0 0;
}

@media screen and (min-width: 920px) {
    .header__link {
        margin-right: 0;
    }
}