.header__link {
    color: #fff;
    text-decoration: none;
    margin: 6px 27px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
}

@media screen and (min-width: 920px) {
    .header__link {
        margin-right: 0;
        font-size: 18px;
        line-height: 22px;
    }
}