.header__email {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 41px;
} 

@media screen and (min-width: 920px) {
    .header__email {
        margin-top: 0;
    }
}