.profile__edit-button {
    width: 18px;
    height: 19px;
    border: 1px solid #FFFFFF;
    background: transparent;
    background-image: url(../../../images/profile-pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7.5px;
    padding: 0;
    position: relative;
    right: -16px;
    top: -8px;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 615px) {
    .profile__edit-button {
        right: -14px;
        top: -10px;
    }
}

@media screen and (min-width: 920px) {
    .profile__edit-button {
        width: 24px;
        height: 24px;
        background-size: 10px;
    }
}